# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
+ Understanding Data Science Languages
+ Understanding Data Science Libraries
+ Understanding Data Science Tools

Some of the popular languages that Data Scientists use are: 
1. Python
2. R
3. Scala
4. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib
2. Caret
3. Scikit-learn
4. NumPy

| Data Science Tools | 
| -------------------|
| Rstudio|
| Apache Spark | 
| Apache Hadoop |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
200.0/60.0

3.3333333333333335

## Author
Hamza Nadeem Rana